
body, 
.menu,
.sub-menu {
    margin: 0;
    padding: 0;
}
.clearfix:after{
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}
.menu,
.sub-menu {
    list-style: none;
    background: #a52020;
}
.sub-menu {
    background: #a52020;
}
.menu a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.menu li {
    position: relative;
}
.menu > li {
    float: left;
}
.menu > li:hover {
    background: rgb(175, 83, 83);
    border-radius: 13px;
}
.menu li:hover > .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    min-width: 150px;
    z-index: 1;
}
.sub-menu li:hover {
    background: rgb(175, 83, 83);
    border-radius: 13px;
}
.sub-menu .sub-menu {
    top: 0;
    left: 100%;
}

#formCadastroCliente{
    position: absolute;
    top: 45px;
    left: 10px;
    border-radius: 13px;
    background-color: #f5f3f3;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 10px;

}

#formCadastroProduto{
    position: absolute;
    top: 45px;
    left: 10px;
    border-radius: 13px;
    background-color: #f5f3f3;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 10px;

}

#tableConsult{
    position: absolute;
    top: 45px;
    left: 10px;
    width: 99%;
    padding-right: 10px;
}

#consultProduct{
    padding-bottom: 7px;
}